@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Oto Servis Ve Satış Sitesi</h1>
    <p>Asp.Net Core ile Geliştirdiğm Oto Servis ve Satış Sitesi</p>
</div>
