@{
    ViewData["Title"] = "Home Page";
}
@model List<OtoServisSatis.Entity.Arac>;
<div class="text-center">
    <h1 class="display-4">Oto Servis Ve Satış Sitesi</h1>
    <p>Asp.Net Core ile Geliştirdiğm Oto Servis ve Satış Sitesi</p>  
</div>
<div class="container">
    <div class="row">
        @foreach (var arac in Model)
        {
            <div class="col-md-3 mt-3">
              
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">@arac.Modeli</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@arac.KasaTipi</h6>
                        <p class="card-text">@arac.Notlar</p>
                        <a href="/Arac/Index/@arac.Id" class="card-link btn btn-primary">İncele</a>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>


